
#log-form {
    margin: 20px auto;
    width: 343px;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ebebeb;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    border: solid 1px #cbc9c9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  #log-form input,
  #log-form select,
  #log-form button {
    width: 90%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  #log-form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #log-form button:hover {
    background-color: #0056b3;
  }

  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #333;
    color: white;
    height: 50px;
  }
  
  #navbar .logo a {
    font-size: 40px;
    color: white;
    text-decoration: none;
  }
  #navbar .logo a:hover{
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  }

